@charset "utf-8";
.swiper-container a img {
  width: 100%;
  height: auto;
}
.ui-header .ui-title {
  margin: .6em 15% .8em;
}
main.content section a {
  text-decoration: none;
  padding: 6px;
  box-sizing: border-box;
}
main.content section a img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
main.content section a span {
  display: block;
  color: #444;
  text-align: center;
  line-height: 30px;
}
